.highlight1-background {
  background-color: #034AA6 !important; }

.highlight2-background {
  background-color: #033E8C !important; }

.highlight3-background {
  background-color: #c69769 !important; }

.highlight4-background {
  background-color: #8C5D42 !important; }

.nav-wrapper {
  background-color: #0339A6; }
  .nav-wrapper .brand-logo {
    font-family: "Abril Fatface", sans;
    padding-left: 15px !important; }
  .nav-wrapper .selected {
    background-color: white; }
    .nav-wrapper .selected a {
      color: #0339A6; }
  .nav-wrapper li {
    font-family: "Roboto", sans;
    font-weight: 500;
    text-align: center;
    width: 120px; }
    .nav-wrapper li a {
      font-size: 1.2rem; }

.sidenav {
  margin-top: 57px;
  padding-bottom: 0;
  background-color: transparent;
  box-shadow: none;
  width: 140px; }
  .sidenav li a {
    color: white; }

.title-container {
  height: 200px;
  background: url("https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat center;
  background-size: cover; }
  .title-container .title-text {
    font-family: "Abril Fatface", sans;
    color: white;
    background-color: rgba(3, 57, 166, 0.75);
    margin: auto; }
    .title-container .title-text h5 {
      font-size: 1.5rem;
      padding: 0px 10px 7px 10px; }

.splash-container {
  background-color: #034AA6;
  font-family: "Roboto";
  color: white; }

.index-splash {
  height: 200px; }
  .index-splash h6 {
    padding-top: 20px; }
  .index-splash .row {
    margin-bottom: 0;
    height: 50%; }

.search-splash {
  height: 100px; }
  .search-splash .row {
    margin-bottom: 0;
    height: 100%; }

.information-container {
  color: #0339A6;
  padding-top: 20px; }
  .information-container i {
    font-size: 2.5rem; }

.search-button-container {
  font-family: "Roboto";
  color: white; }
  .search-button-container .col {
    color: #034AA6;
    line-height: 80px;
    border: 1px solid white;
    padding: 0; }
    .search-button-container .col p {
      margin: 0; }
  .search-button-container .row {
    margin-bottom: 0;
    height: 80px; }
  .search-button-container .btn-flat {
    color: white; }
  .search-button-container a {
    margin-top: 30px; }
  .search-button-container .search-button {
    transition-duration: 0.5s;
    border: 5px solid #8C5D42;
    transition-duration: 0.5s;
    background-repeat: no-repeat;
    background-size: cover; }
    .search-button-container .search-button strong {
      color: white;
      padding: 5px;
      background-color: rgba(3, 57, 166, 0.75); }
  .search-button-container .search-button-clicked {
    background-image: none !important;
    background-color: #033E8C; }
  .search-button-container #search-ingredients {
    background-image: url("https://c.pxhere.com/images/2f/23/aa0d73376be59a4310bb2943515f-1433267.jpg!d"); }
  .search-button-container #search-meal {
    background-image: url("https://c.pxhere.com/photos/5b/df/blue_plate_breakfast_cuisine_dairy_product_delicious_dining_dining_room_dinner-1516443.jpg!d"); }
  .search-button-container #search-author {
    background-image: url("https://c.pxhere.com/photos/f4/26/alphabets_ancient_author_data_document_editorial_information_keyboard-1401823.jpg!d"); }
  .search-button-container #search-difficulty {
    background-image: url("https://c.pxhere.com/photos/45/e6/camping_story_2010365-228377.jpg!d"); }
  .search-button-container #search-dietary {
    background-image: url("https://c.pxhere.com/images/30/d8/1114ac791573938512d436cfd697-1435829.jpg!d"); }
  .search-button-container #search-country {
    background-image: url("https://c.pxhere.com/photos/cd/86/art_atlas_ball_shaped_cartography_continent_country_destination_geography-1521383.jpg!d"); }

.search-container .collapsible {
  margin-bottom: 0.5rem !important; }
  .search-container .collapsible .expand {
    transition-duration: 0.25s;
    transform: rotate(-90deg); }
  .search-container .collapsible .active .expand {
    transform: rotate(0deg); }
  .search-container .collapsible .collapsible .expand-nested {
    transition-duration: 0.25s;
    transform: rotate(-90deg); }
  .search-container .collapsible .collapsible .active .expand-nested {
    transform: rotate(0deg); }
.search-container img {
  width: 50px;
  height: 50px;
  border: 2px solid #033E8C;
  margin-right: 14px; }
.search-container .meal-icon {
  padding-top: 12px;
  width: 50px;
  height: 50px;
  border: 2px solid #033E8C; }
.search-container a {
  text-decoration: none;
  color: #033E8C;
  transition-duration: 0.25; }
.search-container a:hover {
  color: #c69769; }

#category-search {
  margin-top: 20px; }

.category-display .row {
  margin-bottom: 0; }

.recipe-list-header {
  font-family: "Roboto", sans;
  padding-top: 10px;
  font-size: 0.75rem; }
  .recipe-list-header .col {
    padding: 0 5px 0 5px; }
  .recipe-list-header .row {
    margin-bottom: 0; }

.recipe_list {
  font-family: "Roboto", sans; }
  .recipe_list .col {
    padding: 0 5px 0 5px; }
  .recipe_list .row {
    margin-bottom: 0; }
  .recipe_list a {
    color: #5A6978; }
  .recipe_list img {
    border: solid 4px #8C5D42;
    width: 100%;
    object-fit: cover; }

.recipe-list-right-col {
  margin-right: auto; }

.row-effect .row {
  transition-duration: 0.5s; }

.gold-star {
  color: #FFBF57; }

.collapsible {
  margin-top: 0; }

.input-field {
  margin-bottom: 0; }

.collapsible-body {
  padding-top: 0; }

.filter_button {
  border: none;
  background-color: white; }

.order-list .select-wrapper {
  display: inline-block; }

.pagination li.active {
  background-color: #8C5D42; }

input {
  border-bottom: 1px solid #0339A6 !important;
  font-family: "Roboto", sans !important;
  font-size: 14px !important; }

input:focus {
  border-bottom: 1px solid #0339A6 !important;
  box-shadow: 0 1px 0 0 #0339A6 !important; }

textarea {
  border-bottom: 1px solid #0339A6 !important;
  font-family: "Roboto", sans !important;
  font-size: 14px !important; }

textarea:focus {
  border-bottom: 1px solid #0339A6 !important;
  box-shadow: 0 1px 0 0 #0339A6 !important; }

.input-field label {
  color: #0339A6;
  font-family: "Roboto", sans; }

.select-wrapper li span {
  font-size: 12px !important;
  color: #0339A6; }

.select-dropdown {
  color: #0339A6;
  font-family: "Roboto", sans !important;
  font-size: 12px !important;
  padding-left: 2px; }
  .select-dropdown span {
    font-size: 12px !important; }

.recipe-contents-list {
  margin-bottom: 20px; }
  .recipe-contents-list p {
    margin: 0; }

.recipe-subject {
  font-weight: 700;
  color: #5A6978; }

.selected-for-deletion {
  background-color: red;
  color: white; }

.category-display .collapsible ul {
  margin-bottom: 0 !important;
  box-shadow: none !important; }
.category-display .collapsible-body {
  padding: 0 !important;
  border-bottom: none !important; }

form {
  margin-top: 10px;
  font-family: "Roboto", sans; }
  form .row {
    margin-bottom: 0; }
  form #add_ingredient {
    margin-top: 20px; }
  form #remove_ingredient {
    margin-top: 6px;
    background-color: #8C5D42 !important; }
  form label {
    color: #0339A6; }
  form p {
    color: #0339A6; }

.page-dividers .col {
  padding: 0;
  margin: 0; }

.page-divider {
  height: 10px;
  margin: 0 30px 0 30px; }

.btn-block {
  width: 100%;
  height: 100%;
  font-size: 1rem; }

.btn:active {
  background-color: #8C5D42 !important; }

.modal {
  font-family: "Roboto", sans;
  color: #5A6978; }
  .modal h4 {
    color: #0339A6; }
  .modal button {
    color: white; }

@media (hover: hover) {
  .row-effect .row:hover {
    background-color: #034AA6; }
    .row-effect .row:hover p {
      color: white; } }
@media (min-width: 768px) {
  .title-container {
    height: 250px; }
    .title-container .title-text h5 {
      font-size: 2rem; }

  .information-container p {
    color: #5A6978;
    font-size: 1.2rem; }

  .search-container .col {
    line-height: 120px; }

  .index-splash {
    height: 250px; }

  .search-splash {
    height: 125px; } }
@media (min-width: 1024px) {
  .title-container {
    height: 350px; }
    .title-container .title-text h5 {
      font-size: 2.5rem; }

  .search-container .col {
    line-height: 170px; }

  .index-splash {
    height: 275px; }

  .search-splash {
    height: 175px; }

  .btn-block {
    font-size: 1.3rem; } }

/*# sourceMappingURL=style.css.map */
