.highlight1-background {
  background-color: #034AA6 !important; }

.highlight2-background {
  background-color: #033E8C !important; }

.highlight3-background {
  background-color: #F2C6A0 !important; }

.highlight4-background {
  background-color: #8C5D42 !important; }

.nav-wrapper {
  background-color: #0339A6; }
  .nav-wrapper .brand-logo {
    font-family: "Abril Fatface", sans; }
  .nav-wrapper .selected {
    background-color: white; }
    .nav-wrapper .selected a {
      color: #0339A6; }
  .nav-wrapper li {
    font-family: "Roboto", sans;
    font-weight: 500;
    text-align: center;
    width: 100px; }
    .nav-wrapper li a {
      text-shadow: 0px 0px 10px #000000;
      font-size: 1.2rem; }

.sidenav {
  margin-top: 57px;
  padding-bottom: 0;
  max-height: 192px;
  width: 100px; }
  .sidenav li a {
    text-shadow: 0px 0px 10px #000000;
    color: white; }

.title-container {
  height: 200px;
  background: url("https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat center;
  background-size: cover; }
  .title-container .title-text {
    font-family: "Abril Fatface", sans;
    color: white;
    background-color: rgba(3, 57, 166, 0.75);
    margin: auto; }
    .title-container .title-text h5 {
      font-size: 1.5rem;
      padding: 0px 10px 7px 10px; }

.splash-container {
  background-color: #034AA6;
  font-family: "Roboto";
  color: white; }

.index-splash {
  height: 200px; }
  .index-splash h6 {
    padding-top: 20px; }
  .index-splash .row {
    margin-bottom: 0;
    height: 50%; }

.search-splash {
  height: 100px; }
  .search-splash .row {
    margin-bottom: 0;
    height: 100%; }

.information-container {
  color: #0339A6;
  padding-top: 20px; }
  .information-container i {
    font-size: 2.5rem; }

.search-container {
  font-family: "Roboto";
  color: white;
  height: 240px; }
  .search-container .col {
    color: white;
    line-height: 80px;
    border: 1px solid white;
    padding: 0; }
    .search-container .col p {
      margin: 0; }
  .search-container .row {
    margin-bottom: 0;
    height: 80px; }
  .search-container .btn-flat {
    color: white; }
  .search-container a {
    margin-top: 30px; }

.recipe-list-header {
  font-family: "Roboto",sans;
  padding-top: 10px;
  font-size: 0.75rem; }
  .recipe-list-header .col {
    padding: 0 5px 0 5px; }
  .recipe-list-header .row {
    margin-bottom: 0; }

.recipe_list {
  font-family: "Roboto",sans; }
  .recipe_list .col {
    padding: 0 5px 0 5px; }
  .recipe_list .row {
    margin-bottom: 0; }
  .recipe_list img {
    width: 100%;
    object-fit: cover; }

.gold-star {
  color: #FFBF57; }

input {
  border-bottom: 1px solid #0339A6 !important;
  font-family: "Roboto",sans !important;
  font-size: 14px !important; }

input:focus {
  border-bottom: 1px solid #0339A6 !important;
  box-shadow: 0 1px 0 0 #0339A6 !important; }

.input-field {
  margin-top: 0; }

.select-wrapper li span {
  color: #0339A6; }

.select-dropdown {
  color: #0339A6;
  font-family: "Roboto",sans !important;
  font-size: 14px !important; }
  .select-dropdown span {
    font-size: 14px !important; }

form {
  margin-top: 10px;
  font-family: "Roboto",sans; }
  form .row {
    margin-bottom: 0; }
  form a {
    margin-top: 20px; }
  form label {
    color: #0339A6; }

.page-dividers .col {
  padding: 0;
  margin: 0; }

.page-divider {
  height: 10px;
  margin: 0 30px 0 30px; }

.btn-block {
  width: 100%;
  height: 100%;
  font-size: 1rem; }

.btn:active {
  background-color: #8C5D42 !important; }

@media (min-width: 768px) {
  .title-container {
    height: 250px; }
    .title-container .title-text h5 {
      font-size: 2rem; }

  .information-container p {
    color: #5A6978;
    font-size: 1.2rem; }

  .search-container .col {
    line-height: 120px; }

  .index-splash {
    height: 250px; }

  .search-splash {
    height: 125px; } }
@media (min-width: 1024px) {
  .title-container {
    height: 350px; }
    .title-container .title-text h5 {
      font-size: 2.5rem; }

  .search-container .col {
    line-height: 170px; }

  .index-splash {
    height: 275px; }

  .search-splash {
    height: 175px; }

  .btn-block {
    font-size: 1.3rem; } }

/*# sourceMappingURL=style.css.map */
