.highlight1-background {
  background-color: #034AA6 !important; }

.highlight2-background {
  background-color: #033E8C !important; }

.highlight3-background {
  background-color: #c69769 !important; }

.highlight4-background {
  background-color: #8C5D42 !important; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-y: overlay; }

main {
  flex: 1 0 auto; }

form {
  margin-top: 10px;
  font-family: "Roboto", sans; }
  form .row {
    margin-bottom: 0; }
  form #add_ingredient {
    margin-top: 22px; }
  form #remove_ingredient {
    margin-top: 6px;
    background-color: #8C5D42 !important; }
  form label {
    color: #0339A6; }
  form p {
    color: #0339A6; }
  form input {
    border-bottom: 1px solid #0339A6 !important;
    font-family: "Roboto", sans !important;
    font-size: 14px !important; }
  form input:focus {
    border-bottom: 1px solid #0339A6 !important;
    box-shadow: 0 1px 0 0 #0339A6 !important; }
  form .input-field label {
    color: #0339A6;
    font-family: "Roboto", sans; }

input[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 2px solid #033E8C;
  border-bottom: 2px solid #033E8C; }

.page-dividers .col {
  padding: 0;
  margin: 0; }

.page-divider {
  height: 10px;
  margin: 0 30px 0 30px; }

.top-margin-page-divider {
  margin-top: 20px; }

.top-margin-wide-page-divider {
  margin-top: 40px; }

.padded-margin-page-divider {
  margin: 20px 0 20px 0; }

.btn-block {
  width: 100%;
  height: 100%;
  font-size: 1rem; }

.btn:active {
  background-color: #8C5D42 !important; }

.select-wrapper input {
  font-size: 1rem !important; }

.dropdown-content li > span {
  color: #5A6978;
  font-size: 0.8rem; }

.gold-star {
  color: #FFBF57; }

.loader {
  position: absolute;
  margin: auto;
  top: 50vh;
  bottom: 50vh;
  left: 0;
  right: 0; }

.nav-wrapper {
  background-color: #0339A6; }
  .nav-wrapper .brand-logo {
    font-family: "Abril Fatface", sans;
    padding-left: 15px !important; }
  .nav-wrapper .selected {
    background-color: white; }
    .nav-wrapper .selected a {
      color: #0339A6; }
  .nav-wrapper li {
    font-family: "Roboto", sans;
    font-weight: 500;
    text-align: center;
    width: 120px; }
    .nav-wrapper li a {
      font-size: 1.2rem; }

.sidenav {
  padding-bottom: 0;
  background-color: transparent;
  box-shadow: none;
  width: 25vw; }
  .sidenav li a {
    height: 100%;
    color: white;
    padding: 0 !important; }

#search-options li {
  height: 63px; }
  #search-options li a {
    padding-top: 22px;
    color: white;
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0; }

.title-container {
  height: 200px;
  background: url("https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat center;
  background-size: cover; }
  .title-container .title-text {
    font-family: "Abril Fatface", sans;
    color: white;
    background-color: rgba(3, 57, 166, 0.75);
    margin: auto; }
    .title-container .title-text h5 {
      font-size: 1.5rem;
      padding: 0px 10px 7px 10px; }

.splash-container {
  background-color: #034AA6;
  font-family: "Roboto";
  color: white; }
  .splash-container .row {
    margin-bottom: 0; }

.index-splash {
  height: 200px; }
  .index-splash h6 {
    padding-top: 20px; }
  .index-splash .row {
    height: 50%; }

.search-splash {
  height: 100px; }
  .search-splash .row {
    height: 100%; }

.information-container {
  color: #0339A6;
  padding-top: 20px; }
  .information-container i {
    font-size: 2.5rem; }

.search-button-container {
  font-family: "Roboto";
  color: white; }
  .search-button-container .col {
    color: #034AA6;
    line-height: 80px;
    border: 1px solid white;
    padding: 0; }
    .search-button-container .col p {
      margin: 0; }
  .search-button-container .row {
    margin-bottom: 0; }
  .search-button-container .btn-flat {
    color: white; }
  .search-button-container a {
    margin-top: 30px; }
  .search-button-container .search-button {
    transition-duration: 0.5s;
    border: 5px solid #8C5D42;
    transition-duration: 0.5s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .search-button-container .search-button strong {
      color: white;
      padding: 5px;
      background-color: rgba(3, 57, 166, 0.75); }
  .search-button-container .search-button-clicked {
    background-image: none !important;
    background-color: #033E8C; }
  .search-button-container #search-ingredients {
    background-image: url("https://c.pxhere.com/images/2f/23/aa0d73376be59a4310bb2943515f-1433267.jpg!d"); }
  .search-button-container #search-meal {
    background-image: url("https://c.pxhere.com/photos/5b/df/blue_plate_breakfast_cuisine_dairy_product_delicious_dining_dining_room_dinner-1516443.jpg!d"); }
  .search-button-container #search-author {
    background-image: url("https://c.pxhere.com/photos/f4/26/alphabets_ancient_author_data_document_editorial_information_keyboard-1401823.jpg!d"); }
  .search-button-container #search-difficulty {
    background-image: url("https://c.pxhere.com/photos/45/e6/camping_story_2010365-228377.jpg!d"); }
  .search-button-container #search-dietary {
    background-image: url("https://c.pxhere.com/images/30/d8/1114ac791573938512d436cfd697-1435829.jpg!d"); }
  .search-button-container #search-country {
    background-image: url("https://c.pxhere.com/photos/cd/86/art_atlas_ball_shaped_cartography_continent_country_destination_geography-1521383.jpg!d"); }

#category-search-form-container {
  margin-top: 20px;
  display: none; }

.category-search-results-container img {
  width: 50px;
  height: 50px;
  border: solid 4px #8C5D42;
  object-fit: cover; }
.category-search-results-container .collapsible-header {
  line-height: 45px; }
  .category-search-results-container .collapsible-header img,
  .category-search-results-container .collapsible-header i {
    margin: auto; }
  .category-search-results-container .collapsible-header p {
    margin-top: 0;
    margin-bottom: 0; }
  .category-search-results-container .collapsible-header .row {
    padding: 0;
    margin: 0;
    flex: auto; }
.category-search-results-container .collapsible-body {
  padding: 0;
  color: #5A6978; }
  .category-search-results-container .collapsible-body p {
    padding-left: 30px; }
  .category-search-results-container .collapsible-body a {
    color: #033E8C;
    padding-right: 30px; }
  .category-search-results-container .collapsible-body a:hover {
    color: #c69769; }
.category-search-results-container .category-result-header {
  background-color: #8C5D42;
  color: white; }
.category-search-results-container .row {
  margin-bottom: 0; }
.category-search-results-container .s12 {
  padding: 0; }
.category-search-results-container ul {
  margin-top: 0;
  margin-bottom: 0; }

.category-search-results-button-container .row {
  margin-top: 20px; }

.recipe-list-header {
  font-family: "Roboto", sans;
  padding-top: 10px;
  font-size: 0.75rem; }
  .recipe-list-header .col {
    padding: 0 5px 0 5px; }
  .recipe-list-header .row {
    margin-bottom: 0; }

.recipe-list-search-options-container .col {
  padding: 0; }
.recipe-list-search-options-container .row {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0; }
.recipe-list-search-options-container .collapsible {
  border: none;
  margin-top: 0;
  margin-bottom: 0 !important; }
.recipe-list-search-options-container .collapsible-header {
  background-color: #8C5D42;
  color: white; }
  .recipe-list-search-options-container .collapsible-header .row {
    flex: auto;
    padding: 0;
    margin: 0; }
.recipe-list-search-options-container .collapsible-body {
  padding-bottom: 20px;
  padding-top: 0; }
  .recipe-list-search-options-container .collapsible-body .filter-button {
    margin-top: 20px; }
.recipe-list-search-options-container .input-field {
  margin-bottom: 0; }
.recipe-list-search-options-container .sort-options-list .select-wrapper {
  display: inline-block; }
.recipe-list-search-options-container .filter-button {
  border: none;
  background-color: white; }

.recipe-list-results p {
  font-size: 1rem; }
.recipe-list-results .row {
  margin-bottom: 0; }
.recipe-list-results .recipe-list {
  font-family: "Roboto", sans; }
  .recipe-list-results .recipe-list .col {
    padding: 0 5px 0 5px; }
  .recipe-list-results .recipe-list .row {
    margin-bottom: 0; }
  .recipe-list-results .recipe-list a {
    color: #5A6978; }
  .recipe-list-results .recipe-list img {
    width: 50px;
    height: 50px;
    border: solid 4px #8C5D42;
    object-fit: cover; }
  .recipe-list-results .recipe-list i {
    line-height: 50px; }
.recipe-list-results .recipe-book p {
  margin: 5px 0 0 0; }
.recipe-list-results .row-effect .row {
  transition-duration: 0.5s; }
.recipe-list-results .pagination li.active {
  background-color: #8C5D42; }

.recipe-form textarea {
  border-bottom: 1px solid #0339A6 !important;
  font-family: "Roboto", sans !important;
  font-size: 14px !important; }
.recipe-form textarea:focus {
  border-bottom: 1px solid #0339A6 !important;
  box-shadow: 0 1px 0 0 #0339A6 !important; }
.recipe-form .add-ingredient-button {
  position: relative;
  top: 5px; }
.recipe-form label {
  white-space: nowrap; }

.display-recipe-button-container {
  position: fixed; }
  .display-recipe-button-container li a {
    color: white; }
  .display-recipe-button-container .dropdown-content li > span {
    font-size: 16px;
    color: white; }

.recipe-details {
  color: #0339A6; }
  .recipe-details .row {
    margin: 0; }
  .recipe-details i {
    padding-top: 16px; }

.recipe-contents-list {
  margin-bottom: 20px; }
  .recipe-contents-list p {
    margin: 0; }

.recipe-subject {
  font-weight: 700;
  color: #5A6978; }

.recipe-image {
  width: 25vh;
  border: 3px solid #8C5D42; }

.collapsible .expand,
.collapsible .expand-nested {
  transition-duration: 0.25s;
  transform: rotate(-90deg); }
.collapsible .active .expand {
  transform: rotate(0deg); }
.collapsible .collapsible .active .expand-nested {
  transform: rotate(0deg); }

.modal {
  max-width: 600px;
  font-family: "Roboto", sans;
  color: #5A6978; }
  .modal h4 {
    color: #0339A6; }
  .modal button {
    color: white;
    padding: 0; }

#loader-modal .modal-content {
  height: 25vh; }
  #loader-modal .modal-content p {
    margin-top: 17vh; }

@media (hover: hover) {
  .row-effect .row:hover {
    background-color: #034AA6; }
    .row-effect .row:hover p {
      color: white; } }
@media (min-width: 768px) {
  .title-container {
    height: 250px; }
    .title-container .title-text h5 {
      font-size: 2rem; }

  .information-container p {
    color: #5A6978;
    font-size: 1.2rem; }

  .category-search-results-container .category-result-header {
    background-color: white;
    color: #034AA6; }
  .category-search-results-container img {
    width: 70px;
    height: 70px; }
  .category-search-results-container .fa {
    font-size: 35px; }

  .search-splash {
    height: 125px; }

  .recipe-list-search-options-container {
    font-size: 1rem; }
    .recipe-list-search-options-container .dropdown-content li > span {
      font-size: 0.8rem; }
    .recipe-list-search-options-container .select-wrapper input.select-dropdown {
      font-size: 0.8rem !important; }
    .recipe-list-search-options-container .select-wrapper span {
      font-size: 0.8rem !important; }
    .recipe-list-search-options-container .collapsible-header {
      background-color: white;
      color: #034AA6; }
    .recipe-list-search-options-container p {
      margin-top: 10px; }

  .recipe-list-results .recipe-list img {
    width: 50px;
    height: 50px; }
  .recipe-list-results .recipe-list i {
    line-height: 50px;
    font-size: 25px; }
  .recipe-list-results .selected-for-deletion {
    background-color: red;
    color: white; }

  .search-button-container .col {
    line-height: 110px; }

  .index-splash {
    height: 200px; }
    .index-splash a {
      padding: 0; }

  .recipe-image {
    width: 25vw;
    max-width: 350px; }

  .display-recipe-button-container .dropdown-trigger {
    margin: 10px 0 0 20px; } }
@media (min-width: 992px) {
  form p {
    font-size: 1.2rem !important; }
  form input,
  form label {
    font-size: 0.9rem !important; }

  .title-container {
    height: 350px; }
    .title-container .title-text h5 {
      font-size: 2.5rem; }

  .index-splash {
    height: 275px; }

  .search-splash {
    height: 175px; }

  .information-container p {
    font-size: 1.5rem; }

  .recipe-list-results p {
    font-size: 1.2rem; }
  .recipe-list-results .recipe-list img {
    width: 70px;
    height: 70px; }
  .recipe-list-results .recipe-list i {
    line-height: 70px;
    font-size: 35px; }

  .recipe-list-search-options-container {
    font-size: 1rem; }
    .recipe-list-search-options-container .dropdown-content li > span {
      font-size: 1rem; }
    .recipe-list-search-options-container .select-wrapper input.select-dropdown {
      font-size: 1rem !important; }
    .recipe-list-search-options-container .select-wrapper span {
      font-size: 1rem !important; }

  .category-search-results-container img {
    width: 100px;
    height: 100px; }
  .category-search-results-container .fa {
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px; }

  .search-button-container p {
    font-size: 2.5rem; }
  .search-button-container .col {
    line-height: 250px; }

  .display-recipe-button-container .dropdown-trigger {
    margin: 10px 0 0 30px; }

  #star {
    font-size: 2.5rem; }

  .btn-large {
    font-size: 1.2rem; } }
@media only screen and (min-width: 1200px) {
  form p {
    font-size: 1.2rem !important; }
  form input {
    font-size: 1.0rem !important; }
  form label {
    font-size: 1.2rem !important; } }

/*# sourceMappingURL=style.css.map */
