$base-color: #0339A6;
$base-color-opaque: rgba(3, 57, 166, 0.75);
$highlight1-color: #034AA6;
$highlight2-color: #033E8C;
$highlight3-color: #F2C6A0;
$highlight4-color: #8C5D42;
$font-color: #5A6978;

$highlight-colors: $highlight1-color $highlight2-color $highlight3-color $highlight4-color;

//create background colours 
@each $color in $highlight-colors {
    $i: index($highlight-colors, $color);
    .highlight#{$i}-background {
        background-color: #{$color} !important
    }
}



//----- NAV BAR ----- //
.nav-wrapper {
    background-color: $base-color;
    .brand-logo {
        font-family: "Abril Fatface", sans;
    }
    .selected {
        background-color: white;
        a {
            color: $base-color;
        }
    }
    li {
        font-family: "Roboto", sans;
        font-weight: 500;
        text-align: center;
        width: 100px;
        a {
            text-shadow: 0px 0px 10px #000000;
            font-size: 1.2rem;
        }
    }
}

.sidenav {
    margin-top: 57px;
    padding-bottom: 0;
    max-height: 192px;
    width: 100px;
    li {
        a {
            text-shadow: 0px 0px 10px #000000;
            color: white;
        }
    }
}


//----- MAIN TITLE AND BACKGROUND IMAGE -----//
.title-container {
    height: 200px;
    background: url('https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat center;
    background-size: cover;
    .title-text {
        font-family: "Abril Fatface", sans;
        color: white;
        background-color: $base-color-opaque;
        margin: auto;
        h5 {
            font-size: 1.5rem;
            padding: 0px 10px 7px 10px;
        }
    }
}


//----- SPLASHES -----//
.splash-container {
    background-color: $highlight1-color;
    font-family: "Roboto";
    color: white;
}

.index-splash {
    height: 200px;
    h6 {
        padding-top: 20px;
    } //    p {
    //        padding-bottom: 20px;
    //    }
    .row {
        margin-bottom: 0;
        height: 50%;
    }
}

.search-splash {
    height: 100px;
    .row {
        margin-bottom: 0;
        height: 100%;
    }
}

//----- INFORMATION SECTION CONTAINER -----//
.information-container {
    color: $base-color;
    padding-top: 20px;
    i {
        font-size: 2.5rem;
    }
}

//----- SEARCH SECTION CONTAINER -----//
.search-button-container {
    font-family: "Roboto";
    color: white; //height: 240px;
    .col {
        color: $highlight1-color;
        line-height: 80px;
        border: 1px solid white;
        padding: 0;
        p {
            margin: 0;
        }
    }
    .row {
        margin-bottom: 0;
        height: 80px;
    }
    .btn-flat {
        color: white;
    }
    a {
        margin-top: 30px;
    }
    
  //  $highlight-colors: $highlight1-color $highlight2-color $highlight3-color $highlight4-color;

//create background colours 
//@each $color in $highlight-colors {
  //  $i: index($highlight-colors, $color);
    //.highlight#{$i}-background {
      //  background-color: #{$color} !important
//    }
//}
    
    .search-button {
        transition-duration: 0.5s;
        border: 5px solid $highlight4-color;
        transition-duration: 0.5s;
        background-repeat:no-repeat;
        background-size:cover;
        strong{
            color:white; 
            padding:5px; 
            background-color:$base-color-opaque;            
        }
    }
    .search-button-clicked {
        background-image:none !important;
        background-color: $highlight2-color;        
    }     
    #search-ingredients {
        background-image:url("https://c.pxhere.com/images/2f/23/aa0d73376be59a4310bb2943515f-1433267.jpg!d");
    }
  
    #search-meal {
        background-image:url("https://c.pxhere.com/photos/5b/df/blue_plate_breakfast_cuisine_dairy_product_delicious_dining_dining_room_dinner-1516443.jpg!d");
   
    }
    #search-author {
        background-image:url("https://c.pxhere.com/photos/f4/26/alphabets_ancient_author_data_document_editorial_information_keyboard-1401823.jpg!d");
      
    }    
    #search-difficulty {
        background-image:url("https://c.pxhere.com/photos/45/e6/camping_story_2010365-228377.jpg!d");
      
    }        
    #search-allergies {
        background-image:url("https://c.pxhere.com/images/30/d8/1114ac791573938512d436cfd697-1435829.jpg!d");
     
    }        
    #search-country {
        background-image:url("https://c.pxhere.com/photos/cd/86/art_atlas_ball_shaped_cartography_continent_country_destination_geography-1521383.jpg!d");
    
    }      
    
    
}

.search-container {
    .collapsible {
        margin-bottom: 0.5rem !important;
        li i {
            transition-duration: 0.25s;
            transform: rotate(0deg);
        }
        .active .expand {
            transform: rotate(-90deg);
        }
    }
}

#category-search {
    margin-top: 20px;
}

//----- RECIPE RESULTS -----//
.recipe-list-header {
    font-family: "Roboto", sans;
    padding-top: 10px;
    font-size: 0.75rem;
    .col {
        padding: 0 5px 0 5px;
    }
    .row {
        margin-bottom: 0;
    }
}

.recipe_list {
    font-family: "Roboto", sans;
    .col {
        padding: 0 5px 0 5px;
    }

    .row {
        margin-bottom: 0;

    }
    a {
        color: $font-color;
    }
    img {
        border: solid 4px $highlight4-color;
        width: 100%;
        object-fit: cover;
    }
}

.recipe-list-right-col {
    margin-right: auto;
}

.row-effect {

    .row {
        transition-duration: 0.5s;
    }
}


.gold-star {
    color: #FFBF57;
}

.collapsible {
    margin-top: 0;
}

.input-field {
    margin-bottom: 0;
}

.collapsible-body {
    padding-top: 0;
}

.filter_button {
    border: none;
    background-color: white;
}

.order-list {
    .select-wrapper {
        display: inline-block;
    }
}
.pagination li.active {
background-color: $highlight2-color;
}

//----- ADD RECIPES -----//
input {
    border-bottom: 1px solid $base-color !important;
    font-family: "Roboto", sans !important;
    font-size: 14px !important;
}

input:focus {
    border-bottom: 1px solid $base-color !important;
    box-shadow: 0 1px 0 0 $base-color !important;

}

textarea {
    border-bottom: 1px solid $base-color !important;
    font-family: "Roboto", sans !important;
    font-size: 14px !important;

}

textarea:focus {
    border-bottom: 1px solid $base-color !important;
    box-shadow: 0 1px 0 0 $base-color !important;
}

.input-field {
    //margin-top: 0;
    label {
        color: $base-color;
        font-family: "Roboto", sans;
    }
}

.select-wrapper {

    li {
        span {
            font-size: 12px !important;
            color: $base-color;
        }
    }
}

.select-dropdown {
    color: $base-color;
    font-family: "Roboto", sans !important;
    font-size: 12px !important;
    padding-left: 2px;
    span {
        font-size: 12px !important;

    }
}

//----- DISPLAY RECIPE -----//

.recipe-contents-list {
    margin-bottom: 20px;
    p {
        margin: 0;
    }
}

.recipe-subject {
    font-weight: 700;
    color: $font-color;
}

//----- DELETE RECIPE -----//
.selected-for-deletion {
    background-color: red;
    color: white;
}

//----- DISPLAY CATEGORIES -----//
.category-display {
    .collapsible ul {
        margin-bottom: 0 !important;
        box-shadow: none !important;
    }
    .collapsible-body {
        padding: 0 !important;
        border-bottom: none !important;
    }
}

//----- GENERAL STYLES -----//
form {
    margin-top: 10px;
    font-family: "Roboto", sans;
    .row {
        margin-bottom: 0;
    }
    #add_ingredient {
        margin-top: 20px;
    }
    #remove_ingredient {
        margin-top: 6px;
        background-color: $highlight4-color !important;
    }
    label {
        color: $base-color;
    }
    p {
        color: $base-color;
    }
}

.page-dividers {
    .col {
        padding: 0;
        margin: 0;
    }
}

.page-divider {
    height: 10px;
    margin: 0 30px 0 30px;
}

.btn-block {
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

.btn:active {
    background-color: $highlight4-color !important;
}

//----- MODAL STYLES -----//
.modal {
    font-family: "Roboto", sans;
    color: $font-color;
    h4 {
        color: $base-color;
    }
    button {
        color: white;
    }
}

//-----Media queries -----//
@media (hover: hover) {
    .row-effect {
        .row:hover {
            background-color: $highlight1-color;
            p {
                color: white;
            }
        }
    }
}

@media (min-width: 768px) {
    .title-container {
        height: 250px;
        .title-text {
            h5 {
                font-size: 2rem;
            }
        }
    }
    .information-container {
        p {
            color: $font-color;
            font-size: 1.2rem;
        }
    }
    .search-container {
        .col {
            line-height: 120px;
        }
    }
    .index-splash {
        height: 250px;
    }
    .search-splash {
        height: 125px;
    }
}

@media (min-width: 1024px) {
    .title-container {
        height: 350px;
        .title-text {
            h5 {
                font-size: 2.5rem;
            }
        }
    }
    .search-container {
        .col {
            line-height: 170px;
        }
    }
    .index-splash {
        height: 275px;
    }
    .search-splash {
        height: 175px;
    }
    .btn-block {
        font-size: 1.3rem;

    }
}
