<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Recipebook</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto: 300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css" type="text/css" />

  <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" /> -->

</head>

<body>

  <!-- Nav Bar -->
  <section>
    <nav>
      <div class="nav-wrapper">
        <a href="{{ url_for('index') }}" class="brand-logo left">Cookbook</a>
        <a href="#" data-target="menu-list" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        <a href="{{ url_for('recipe_list', action='search') }}" class="hide-on-large-only right"><i class="material-icons">search</i></a>
        <a href="#login-modal" class="right modal-trigger hide-on-large-only" style="padding-right:15px">            
         {% if session['user'] %}
            <i class="material-icons">person</i></a> {%else%}
        <i class="material-icons">person_outline</i></a>
        {%endif%}
        <ul class="right hide-on-med-and-down right">
          <li><a href="#login-modal" class=" modal-trigger">
          {% if session['user'] %}
            <i class="material-icons">person</i></a></li>
          {%else%}
          <i class="material-icons">person_outline</i></a>
          </li>
          {%endif%}
          <li class="highlight3-background"><a href="{{ url_for('recipe_list', action='search') }}">Search</a></li>
          <li class="highlight1-background"><a href="{{ url_for('add_recipe') }}">Add</a></li>
          <li class="highlight2-background">
          {% if recipe %}
            <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"></a>
          {% else %}          
            <a href="{{url_for('recipe_list', action='edit')}}">Edit</a>
          {% endif %}
          </li>
          <li class="highlight4-background">
          {% if recipe_id %}
            <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"></a>
          {% else %}
            <a href="{{url_for('recipe_list', action='delete')}}">Delete</a>
          {% endif %}
          </li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="menu-list">
      <li class="highlight3-background"><a href="{{ url_for('recipe_list', action='search') }}">Search</a></li>
      <li class="highlight1-background"><a href="{{ url_for('add_recipe') }}">Add</a></li>
      <li class="highlight2-background">
      {% if recipe %}
        <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}">Edit</a>
      {% else %}          
        <a href="{{url_for('recipe_list', action='edit')}}">Edit</a>
      {% endif %}
      </li>
      <li class="highlight4-background">
      {% if recipe_id %}
        <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}">Delete</a>
      {% else %}
        <a href="{{url_for('recipe_list', action='delete')}}">Delete</a>
      {% endif %}
      </li>
    </ul>
  </section>

  <!--Main page title and background image-->
  <section>
    <div class="title-container valign-wrapper">
      <div class="row">
        <div class="title-text col s12">
          <h5 class="center-align">{{title_text}}</h5>
        </div>
      </div>
    </div>
  </section>


  {% block content %} {% endblock %}

  <div id="login-modal" class="modal">
      <div class="modal-content">
    <form id="user-form" action="{{url_for('check_user') }}" method="POST">
        {%if session['user'] %}
        <h4>Logout</h4>
        <h6>Currently logged in as {{session['user']}}</h6>
        <div class="input-field">
          <input id="username" type="hidden" name="username" type="text" label="User Name" value="logout"></input>
        </div>
        <div class="row">
          <div class="col s6 m3 offset-m2 ">
            <a href="#!" class=" modal-action modal-close waves-effect waves-light btn btn-block hide-on-med-and-up red">Cancel</a>
            <a href="#!" class=" modal-action modal-close waves-effect waves-light btn-large btn-block hide-on-small-only red">Cancel</a>
          </div>
          <div class="col s6 m3 offset-m2">
            <button type="submit" class="modal-close waves-effect waves-light btn btn-block hide-on-med-and-up highlight1-background">Logout</button>
            <button type="submit" class="waves-effect waves-light btn-large btn-block hide-on-small-only highlight1-background">Logout</button>
          </div>
        </div>
        {%else%}
        <h4>Login</h4>
        <p>Enter your username</p>
        <div class="input-field">
          <input id="username" name="username" type="text" label="User Name" required></input>
        </div>
        <div class="row">
          <div class="col s6 m3 offset-m2 ">
            <a href="#!" class=" modal-action modal-close waves-effect waves-light btn btn-block hide-on-med-and-up red">Cancel</a>
            <a href="#!" class=" modal-action modal-close waves-effect waves-light btn-large btn-block hide-on-small-only red">Cancel</a>
          </div>
          <div class="col s6 m3 offset-m2">
            <button type="submit" class="modal-close waves-effect waves-light btn btn-block hide-on-med-and-up highlight1-background">Login</button>
            <button type="submit" class="modal-close waves-effect waves-light btn-large btn-block hide-on-small-only highlight1-background">Login</button>
          </div>
        </div>
        {%endif%}
    </form>
      </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="static/js/app.js"></script>
  <script>
    $(document).ready(function() {
      $('.sidenav').sidenav();
      $('select').formSelect();
      $('.modal').modal({
        //defensive - prevent modals from being closed by clicking on background - so an option has to be selected
        dismissible: false,
      });
      $('.collapsible').collapsible();

    });

    $("#favourite").on("click", function() {
      //ensure the favourite variable is a boolean value
      var favourite = $("#favourite_input").val();
      if (typeof(favourite) != Boolean) {
        favourite = (favourite.toLowerCase() == "true");
      }
      if (favourite == false) {
        $("i", this).text("star");
        $("i", this).addClass("gold-star");
        $("#favourite_input").val(true);
      }
      else {
        $("i", this).text("star_border");
        $("i", this).removeClass("gold-star");
        $("#favourite_input").val(false);
        favourite = $("#favourite_input").val();
      }
    })
  </script>

</body>

</html>
