<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Recipebook</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto: 300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css" type="text/css" />

  <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" /> -->

</head>

<body>

  <!-- Nav Bar -->
  <section>
    <nav>
      <ul id="search-options" class="dropdown-content">
        <li class="highlight3-background valign-wrapper" style="height:63px"><a href="{{ url_for('recipe_list', action='search') }}" style="padding-top:22px; color:white;width:100%; height:100%" href="#!">Recipes</a></li>
        <li class="highlight3-background valign-wrapper" style="height:63px"><a href="{{ url_for('search')}}" style="padding-top:22px; color:white;width:100%; height:100%" href="#!">Categories</a></li>
      </ul>
      <div class="nav-wrapper">
        <a href="{{ url_for('index') }}" class="brand-logo left">Cookbook</a>
        <a href="#" data-target="menu-list" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        <a href="{{ url_for('recipe_list', action='search') }}" class="hide-on-large-only right"><i class="material-icons">search</i></a>
        <a href="#login-modal" class="right modal-trigger hide-on-large-only" style="padding-right:15px">            
         {% if session['user'] %}
            <i class="material-icons">person</i></a> {%else%}
        <i class="material-icons">person_outline</i></a>
        {%endif%}
        <ul class="right hide-on-med-and-down right">
          <li><a href="#login-modal" class=" modal-trigger">
          {% if session['user'] %}
            <i class="material-icons">person</i></a></li>
          {%else%}
          <i class="material-icons">person_outline</i></a>
          </li>
          {%endif%}
          <li class="highlight3-background">
            <a class="dropdown-trigger" href="#!" data-target="search-options">Search</a>
          </li>
          {% if session["user"] %}
          <li class="highlight1-background"><a href="{{ url_for('add_recipe') }}">Add</a></li>
          <li class="highlight2-background">
            {% if recipe %}
            <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}">Edit</a> {% else %}
            <a href="{{url_for('recipe_list', action='edit')}}">Edit</a> {% endif %}
          </li>
          <li class="highlight4-background">
            {% if recipe %}
            <a href="#delete_modal" class=" modal-trigger">Delete</a> {% else %}
            <a href="{{url_for('recipe_list', action='delete')}}">Delete</a> {% endif %}
          </li>
          {%else%}
          <li class="highlight2-background">
            <a href="#user-error-modal" class="modal-trigger" style="background-color:rgba(200,200,200,0.3); color: rgba(200,200,200,0.5); padding:0 !important">Add</a>
          </li>
          <li class="highlight1-background">
            <div style="background-color:rgba(200,200,200,0.3); ">
              <a href="#user-error-modal" class="modal-trigger" style="color: rgba(200,200,200,0.5); padding:0 !important">Edit</a>
            </div>
          </li>
          <li class="highlight4-background">
            <div style="background-color:rgba(200,200,200,0.3); ">
              <a href="#user-error-modal" class="modal-trigger" style="color: rgba(200,200,200,0.5); padding:0 !important">Delete</a>
            </div>
          </li>
          {%endif%}
        </ul>
      </div>
    </nav>

    <ul class="sidenav center-align " id="menu-list">
      <ul class="collapsible ">
        <li>

          <a style="border-bottom:solid 1px grey" class="highlight3-background collapsible-header">Search</a>
          <div class="collapsible-body">
            <ul>
              <li>
            <a class="highlight3-background" href="{{ url_for('recipe_list', action='search') }}" style="color:white">Recipes</a>
            </li>
            <li>
            <a class="highlight3-background" href="{{ url_for('search') }}" style="color:white">Categories</a>
            </li>
            </ul>
          </div>
        </li>
      </ul>
      {% if session["user"] %}
      <li class="highlight1-background"><a style="padding:0 !important" href="{{ url_for('add_recipe') }}">Add</a></li>
      <li class="highlight2-background">
        {% if recipe %}
        <a style="padding:0 !important" href="{{url_for('edit_recipe', recipe_id=recipe._id)}}">Edit</a> {% else %}
        <a style="padding:0 !important" href="{{url_for('recipe_list', action='edit')}}">Edit</a> {% endif %}
      </li>
      <li class="highlight4-background">
        {% if recipe %}
        <a href="#delete_modal" class="modal-trigger">Delete</a> {% else %}
        <a href="{{url_for('recipe_list', action='delete')}}">Delete</a> {% endif %}
      </li>
      {%else%}
      <li class="highlight2-background">
        <a href="#user-error-modal" class="modal-trigger" style="background-color:rgba(200,200,200,0.3); color: rgba(200,200,200,0.5); padding:0 !important">Add</a>
      </li>
      <li class="highlight1-background">
        <div style="background-color:rgba(200,200,200,0.3); ">
          <a href="#user-error-modal" class="modal-trigger" style="color: rgba(200,200,200,0.5); padding:0 !important">Edit</a>
        </div>
      </li>
      <li class="highlight4-background">
        <div style="background-color:rgba(200,200,200,0.3); ">
          <a href="#user-error-modal" class="modal-trigger" style="color: rgba(200,200,200,0.5); padding:0 !important">Delete</a>
        </div>
      </li>
      {%endif%}
    </ul>
  </section>

  <!--Main page title and background image-->
  <section>
    <div class="title-container valign-wrapper">
      <div class="row">
        <div class="title-text col s12">
          <h5 class="center-align">{{title_text}}</h5>
        </div>
      </div>
    </div>
  </section>


  {% block content %} {% endblock %}

  <!--Modals-->

  <div id="login-modal" class="modal" style="width:60%">
    <div class="modal-content">
      <form id="user-form" action="{{url_for('check_user') }}" method="POST">
        {%if session['user'] %}
        <h4>Logout</h4>
        <h6>Currently logged in as {{session['user']}}</h6>
        <div class="input-field">
          <input id="username" type="hidden" name="username" type="text" label="User Name" value="logout"></input>
        </div>
        <div class="modal-footer">
        <div class="row">
          <div class="col s6 m3 offset-m2 ">
            <button type="reset" class=" modal-action modal-close waves-effect waves-light btn btn-block hide-on-large-only highlight4-background">Cancel</button>
            <button type="reset" class="modal-action modal-close waves-effect waves-light btn-large btn-block hide-on-med-and-down highlight4-background">Cancel</button>
          </div>
          <div class="col s6 m3 offset-m2">
            <button type="submit" class="modal-close waves-effect waves-light btn btn-block hide-on-large-only highlight1-background">Logout</button>
            <button type="submit" class="waves-effect waves-light btn-large btn-block hide-on-med-and-down highlight1-background">Logout</button>
          </div>
        </div>
        </div>
        {%else%}
        <h4>Login</h4>
        <p>Enter your username</p>
        <div class="input-field">
          <input id="username" name="username" type="text" label="User Name" required></input>
        </div>
        <div class="modal-footer">
        <div class="row">
          <div class="col s6 m3 offset-m2 ">
            <button type="reset" class=" modal-action modal-close waves-effect waves-light btn btn-block hide-on-large-only highlight4-background">Cancel</button>
            <button type="reset" class=" modal-action modal-close waves-effect waves-light btn-large btn-block hide-on-med-and-down highlight4-background">Cancel</button>
          </div>
          <div class="col s6 m3 offset-m2">
            <button type="submit" class="modal-close waves-effect waves-light btn btn-block hide-on-large-only highlight1-background">Login</button>
            <button type="submit" class="modal-close waves-effect waves-light btn-large btn-large btn-block hide-on-med-and-down highlight1-background">Login</button>
          </div>
        </div>
        </div>
        {%endif%}
      </form>
    </div>
  </div>

  <div id="user-error-modal" class="modal">
    <div class="modal-content">
      <h4>Error</h4>
      <p>You need to log in</p>
      <div class="input-field">
        <div class="row">
        <div class="col s6 offset-s3 m4 offset-m4">
          <button type="submit" class="modal-close waves-effect waves-light btn btn-block hide-on-large highlight1-background">OK</button>
          <button type="submit" class="modal-close waves-effect waves-light btn-large btn-block hide-on-med-and-down highlight1-background">OK</button>
        </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>

</body>

</html>
