{% extends 'base.html' %} {% block content %}
<!-- header dividers -->
<section class="hide-on-small-only">
  <div class="row top-margin-page-divider">
    <div class="col m10 offset-m1">
      <div class="col center-align m3">
        <div class="left-align page-divider highlight3-background"></div>
      </div>
      <div class="col center-align m3">
        <div class="center-align page-divider highlight1-background"></div>
      </div>
      <div class="col center-align m3">
        <div class=" center-align page-divider highlight2-background"></div>
      </div>
      <div class="col center-align m3">
        <div class="center-align page-divider highlight4-background"></div>
      </div>
    </div>
  </div>
</section>

<!-- call to action -->
<section class="hide-on-med-and-up">
  <div class="splash-container search-splash hide-on-med-and-up">
    <div class="row">
      <div class="col s12 ">
        <div class="row valign-wrapper">
          <div class="col s12">
            {%if category=="allergens" %}
            <h5 class="center-align flow-text">Browse by dietary requirements</h5>
            <p class="center-align flow-text">Recipes that do not contain:</p>
            {%else%}
            <h5 class="center-align flow-text">Browse by {{category[0]|upper}}{{category[1:]|lower}}</h5>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--details and information-->
<section class="hide-on-small-only">
  <div class="information-container">
    <div class="row hide-on-small-only">
      <div class="col s12">
        <h5 class="center-align">Browse your recipes</h5>
      </div>
    </div>
    <div class="row">
      <div class="col s10 offset-s1">
        <p class="center-align">Below you will find all the recipes in the Cookbook categorised according to your custom search.</h5>
      </div>
    </div>
  </div>
</section>

<!-- list of results from category search -->
<section>
  <div class="category-search-results-container">
    <div class="row">
      <div class="col s12 m10 offset-m1 l8 offset-l2">
        <div class="row">
          <div class="col s12">
            <ul class="collapsible">
              {%for item in items %}
              <li {%if loop.index==1 %}class='active' {%endif%}>
                <div class="collapsible-header category-result-header">
                  <div class="row valign-wrapper">
                    <div class="col s1 valign-wrapper">
                      <i class="material-icons expand">expand_more</i>
                    </div>
                    <div class="col s6">
                      <strong>{{item[0]|upper}}{{item[1:]|lower}}</strong>
                    </div>
                    <div class="col s5" class="right-align">
                      <p>Recipes found: {{recipes[item]|length}}</p>
                    </div>
                  </div>
                </div>
                <div class="collapsible-body">
                  <ul class="collapsible">
                    {%if recipes[item]|length==0 %}
                    <li>
                      <div class='collapsible-header'>
                        <div class="valign-wrapper">
                          <p>No recipes found</p>
                        </div>
                      </div>
                    </li>
                    {%endif%} {%for recipe in recipes[item]%}
                    <li class="hide-on-med-and-up">
                      <div class="collapsible-header">
                        <div class="row valign-wrapper">
                          <div class="col s1 offset-s1 valign-wrapper">
                            <i class="material-icons expand-nested">expand_more</i>
                          </div>
                          <div class="col s3 valign-wrapper">
                            {% if recipe.picture %}
                            <img src="{{recipe.picture}}" class="circle responsive-image ">{% else %}
                            <i class="fa fa-cutlery fa-2x" aria-hidden="true"></i> {% endif %}
                          </div>
                          <div class="col s8">
                            {{recipe.name}}
                          </div>
                        </div>
                      </div>
                      <div class="collapsible-body">
                        <div class="row">
                          <div class="col s11 offset-s1">
                            {%if recipe.cook_time%}
                            <p>Cooking time: {%if recipe.hours %}{{recipe.hours}} hours{%endif%} {%if recipe.minutes %}{{recipe.minutes}} minutes{%endif%}
                            </p>
                            {%endif%} {%if recipe.calories%}
                            <p>Calories: {{recipe.calories}} kCal</p>
                            {%endif%} {%if recipe.difficulty%}
                            <p>Difficulty: {{recipe.difficulty[0]|upper}}{{recipe.difficulty[1:]|lower}}</p>
                            {%endif%}
                            <div class="row" {% if not (recipe.cook_time and recipe.calories and recipe.difficulty) %} style="margin-top:20px; margin-bottom:20px" {%else%} style="padding-bottom:20px;" {%endif%}>
                              <div class="col s5 offset-s1">
                                <a href="{{url_for('display_recipe', recipe_id=recipe._id)}}">View recipe</a>
                              </div>
                              <div class="col s5">
                                <a class="valign-wrapper" href="{{url_for('display_recipe', recipe_id=recipe._id)}}"><i class="material-icons">remove_red_eye</i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="hide-on-small-only">
                      <div class="collapsible-header">
                        <div class="row valign-wrapper">
                          <div class="col m2 valign-wrapper">
                            {% if recipe.picture %}
                            <img src="{{recipe.picture}}" class="circle responsive-image ">{% else %}
                            <i class="fa fa-cutlery fa-2x" aria-hidden="true"></i> {% endif %}
                          </div>
                          <div class="col m3">
                            <strong>{{recipe.name}}</strong>
                          </div>
                          <div class="col m6">
                          {%if recipe.cook_time%}
                            <p><strong>Cooking time:</strong> {%if recipe.hours %}{{recipe.hours}} hours{%endif%} {%if recipe.minutes %}{{recipe.minutes}} minutes{%endif%}</p>
                            {%endif%} {%if recipe.calories%}
                            <p><strong>Calories:</strong> {{recipe.calories}} kCal</p>
                            {%endif%} {%if recipe.difficulty%}
                            <p><strong>Difficulty:</strong> {{recipe.difficulty[0]|upper}}{{recipe.difficulty[1:]|lower}}</p>
                            {%endif%}
                          </div>
                          <div class="col m1">
                            <a class="right valign-wrapper" href="{{url_for('display_recipe', recipe_id=recipe._id)}}"><i class="material-icons">remove_red_eye</i></a>
                          </div>
                        </div>
                      </div>
                    </li>
                    {%endfor%}
                  </ul>
                </div>
              </li>
              {%endfor%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="category-search-results-button-container">
    <div class="row">
      <div class="col s4 offset-s4 m2 offset-m5 ">
        <a href="{{url_for('search')}}" class="waves-effect waves-light btn btn-block hide-on-large-only highlight2-background">Back</a>
        <a href="{{url_for('search')}}" class="waves-effect waves-light btn-large btn-block hide-on-med-and-down highlight2-background">Back</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
