{% extends 'base.html' %} {% block content %}
<div class="button-container" style="position:fixed">
  <!-- Dropdown Trigger -->
  <a class='dropdown-trigger btn highlight1-background' href='#' data-target='recipe_options'><i class="material-icons">add</i></a>

  <!-- Dropdown Structure -->
  <ul id='recipe_options' class='dropdown-content'>
    <li class="highlight2-background"><a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" style="color:white">Edit</a></li>
    <li class="highlight4-background"><a href="#delete_modal" class="modal-trigger" style="color:white">Delete</a></li>
    <li class="highlight1-background"><span style="color:white">Close</span></li>    
  </ul>  
</div>
<!-- details and information -->
<section>
  <div class="information-container">
    <div class="recipe_list">
      <div class="row">
        <div class="col s8 offset-s2">
          {% set name = recipe.name.split(' ') %}
          <h5 class="center-align">
            {% for word in name %} {{ word[0]|upper }}{{ word[1:]|lower}} {% endfor %}
          </h5>
        </div>
        <div class="col s2">
          {% if recipe.favourite %}
          <i class="material-icons gold-star">star</i> {% endif %}
        </div>
      </div>

      {% if recipe.picture %}
      <div class="row">
        <div class="col s6 offset-s3">
          <p class="center-align">
            <img src="{{ recipe.picture }}"></img>
          </p>
        </div>
      </div>
      {% endif %} {% if recipe.country %}
      <div class="row">
        <div class="col s10 offset-s1">
          {% set country_name=recipe.country.split(' ') %}
          <p class="center-align">From {% for word in country_name %} {{word[0]|upper}}{{word[1:]|lower}} {%endfor%}
          </p>
        </div>
      </div>
      {% endif %} {% if recipe.author %}
      <div class="row">
        <div class="col s10 offset-s1">
          {% set author_name=recipe.author.split(' ') %}
          <p class="center-align">by {% for word in author_name %} {{word[0]|upper}}{{word[1:]|lower}} {%endfor%}
          </p>
        </div>
      </div>
      {% endif %} {% if recipe.meal %}
      <div class="row">
        <div class="col s3 offset-s1">
          <p class="recipe-subject">Meal</p>
        </div>
        <div class="col s2">
          <p>{{ recipe.meal[0]|upper }}{{recipe.meal[1:]|lower}}</p>
        </div>
      </div>
      {% endif %} {% if recipe.difficulty %}
      <div class="row">
        <div class="col s3 offset-s1">
          <p class="recipe-subject">Difficulty</p>
        </div>
        <div class="col s3">
          <p>{{recipe.difficulty[0]|upper}}{{recipe.difficulty[1:]|lower}}</p>
        </div>
      </div>
      {% endif %} {% if recipe.hours>0 or recipe.minutes>0%}
      <div class="row">
        <div class="col s3 offset-s1">
          <p class="recipe-subject">Cooking time</p>
        </div>
        <div class="col s5">
          <p>{% if recipe.hours>0 %} {{ recipe.hours }} hour {% endif %} {% if recipe.minutes>0 %} {{ recipe.minutes }} minutes{% endif %}</p>
        </div>
      </div>
      {% endif %} {% if recipe.calories %}
      <div class="row">
        <div class="col s3 offset-s1">
          <p class="recipe-subject">Calories</p>
        </div>
        <div class="col s3">
          <p>{{ recipe.calories }}</p>
        </div>
      </div>
      {% endif %}

      <!-- check to see if ingredients is populated in the dictionary, if so lay out ingredients.
      NB ingredients is highly unlikely to be unpopulated -->

      {% if recipe.ingredients %}
      <div class="recipe-contents-list">
        <div class="row">
          <div class="col s3 offset-s1">
            <p class="recipe-subject">Ingredients</p>
          </div>
          {% for ingredient in recipe.ingredients %} {% if loop.first %}
          <div class="col s6">
            <p>
              {{ingredient.amount}}{% if ingredient.unit %} {{ingredient.unit}} of {% endif %} {{ ingredient.type[0]|upper}}{{ingredient.type[1:] }}
            </p>
          </div>
          {% else %}
          <div class="row">
            <div class="col s6 offset-s4">
              <p>
                {{ingredient.amount}}{% if ingredient.unit %}{{ingredient.unit}} of {% endif %} {{ ingredient.type[0]|upper}}{{ingredient.type[1:] }}
              </p>
            </div>
          </div>
          {% endif %} {% endfor %}
        </div>
      </div>
      {% endif %} {% if recipe.allergens %}
      <div class=" recipe-contents-list">
        <div class="row">
          <div class="col s2 offset-s1">
            <p class="recipe-subject">Allergens</p>
          </div>
          {% for allergen in recipe.allergens %} {% if loop.first %}

          <div class="col s3 offset-s1">
            <p>{{ allergen[0]|upper }}{{ allergen[1:]|lower }}</p>
          </div>
          {% else %}
          <div class="row">
            <div class="col s3 offset-s4">
              <p>{{ allergen[0]|upper }}{{ allergen[1:]|lower }}</p>
            </div>
          </div>
          {% endif %} {% endfor %}
        </div>
      </div>
      {% endif %} {% if recipe.method %}
      <div class="row">
        <div class="col s3 offset-s1">
          <p class="recipe-subject">Method</p>
        </div>
        <div class="col s8">
          <p>{{ recipe.method }}</p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    {% if added!="true" %}
    <div class="col s4 offset-s1 m2 offset-m3 ">
      <a href="{{ url_for('recipe_list', filter='true') }}" class="waves-effect waves-light btn btn-block hide-on-med-and-up highlight2-background">Back</a>
      <a href="{{ url_for('recipe_list', filter='true') }}" class="waves-effect waves-light btn-large btn-block hide-on-small-only highlight2-background">Back</a>
    </div>
    {% else %}
    <div class="col s4 offset-s1 m2 offset-m3 ">
      <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn-block hide-on-med-and-up highlight2-background">Back</a>
      <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn-large btn-block hide-on-small-only highlight2-background">Back</a>
    </div>
    {% endif %}
    <div class="col s4 offset-s2 m2 offset-m2 ">
      <a href="{{url_for('index')}}" class="waves-effect waves-light btn btn-block hide-on-med-and-up highlight4-background">Home</a>
      <a href="{{url_for('index')}}" class="waves-effect waves-light btn-large btn-block hide-on-small-only highlight4-background">Home</a>
    </div>
  </div>
</section>

<!--Deletion modal -->
<section>
  <div id="delete_modal" class="modal">
    <div class="modal-content">
      <h4>Confirm deletion</h4>
      <p>Are you sure you want to delete this recipe?</p>
      <form action="{{url_for('delete_recipe') }}" method="POST">
        <input type="hidden" name="recipe_id" value="{{recipe._id}}"></input>
        <div class="row">
          <div class="col s5 offset-s1 m3 offset-m2 ">
            <button type="reset" id="modal_reset" class="modal-close waves-effect waves-light btn btn-block hide-on-med-and-up highlight1-background">Cancel</button>
            <button type="reset" id="modal_reset" class="waves-effect waves-light btn-large btn-block hide-on-small-only highlight1-background">Cancel</button>
          </div>
          <div class="col s5 offset-s1 m3 offset-m2 ">
            <button type="submit" class="waves-effect waves-light btn btn-block hide-on-med-and-up red">Delete</button>
            <button type="submit" class="waves-effect waves-light btn-large btn-block hide-on-small-only red">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>


{% endblock %}
