{% extends 'base.html' %} {% block content %}

<!-- call to action -->
<!-- Add recipe form -->
<section>
  <div class="row">
    <!--set the edit variable to true to tell flask this is an existing recipe being editted and pass the id of the recipe-->
    <form action="{{url_for('insertrecipe',recipe_id=recipe._id,edit='True') }}" method="POST" class="col s12">
      <div class="row">
        <div class="col s10 offset-s1">

          <div class="row">
            <div class="col s10">
              <label>Name</label>
              <input id="name" name="name" type="text" label="Name" value="{{recipe.name[0]|upper}}{{recipe.name[1:]|lower}}" required></input>
            </div>
            <div class="col s2 valign-wrapper">
              {%if recipe.favourite %}
              <p id="favourite"><i id="star" class="material-icons gold-star">star</i></p>
              {% else %}
              <p id="favourite"><i id="star" class="material-icons">star_border</i></p>
              {% endif %}
              <input type="hidden" id="favourite_input" name="favourite" value={{recipe.favourite}}></input>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <label>Country of origin</label>
              <input id="country" name="country" type="text" value="{{recipe.country}}"></input>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <label>Recipe Author</label>
              <input id="country" name="author" type="text" placeholder="Firstname Lastname" value="{{recipe.author}}"></input>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <label>Picture</label>
              <input id="picture" name="picture" type="text" value="{{recipe.picture}}" placeholder="type in full URL of image"></input>
            </div>
          </div>

          <div class="row ">
            <div class="col s6">
              <label>Meal</label>
              <div class="input-field">
                <select name="meal">
              <option value="" disabled selected>Select</option>
              <option value="BREAKFAST" {% if recipe.meal|upper=="BREAKFAST" %} selected="selected" {% endif %}>BREAKFAST</option>
              <option value="LUNCH" {% if recipe.meal|upper=="LUNCH" %} selected="selected" {% endif %}>LUNCH</option>
              <option value="DINNER" {% if recipe.meal|upper=="DINNER" %} selected="selected" {% endif %}>DINNER</option>
              <option value="SNACK" {% if recipe.meal|upper=="SNACK" %} selected="selected" {% endif %}>SNACK</option>
            </select>
              </div>
            </div>

            <div class="col s6">
              <label>Difficulty</label>
              <div class="input-field">
                <select name="difficulty">
              <option value="" disabled selected>Select</option>
              <option value="EASY" {% if recipe.difficulty|upper=="EASY" %} selected="selected" {% endif %}>EASY</option>
              <option value="MEDIUM" {% if recipe.difficulty|upper=="MEDIUM" %} selected="selected" {% endif %}>MEDIUM</option>
              <option value="HARD" {% if recipe.difficulty|upper=="HARD" %} selected="selected" {% endif %}>HARD</option>
            </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s3">
              <label>Cooking time</label>
              <input name="hours" type="number" value="{{recipe.hours}}" placeholder="hours"></input>
            </div>
            <div class="col s3">
              <label>&nbsp</label>
              <input name="minutes" type="number" value="{{recipe.minutes}}" placeholder="minutes"></input>
            </div>
            <div class="col s3 offset-s3">
              <label>Calories</label>
              <input name="calories" type="number" value="{{recipe.calories}}" placeholder="calories"></input>
            </div>
          </div>

          <div class="row ">
            <div class="col s12">
              <p>Ingredients</p>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <label>Ingredient</label>
              <input id="ingredient" type="text"></input>
            </div>
            <div class="col s2">
              <label>Quantity</label>
              <input id="amount" type="number" min="0">
            </div>
            <div class="col s2" style="padding-right:2px">
              <label>Unit</label>
              <div id="unit" class="input-field">
                <select id="select-unit">
              <option value="0"> </option>
              <option value="g">g</option>
              <option value="kg">kg</option>
              <option value="ml">ml</option>
              <option value="ltr">ltr</option>
              <option value="tsp">tsp</option>
              <option value="tbsp">tbsp</option>
            </select>
              </div>
            </div>
            <div class="col s1">
              <a id="add_ingredient" class="btn-floating btn-small waves-effect waves-light highlight3-background"><i class="material-icons">add</i></a>
            </div>
          </div>
          <div id="ingredients">
            {% for ingredient in recipe.ingredients %}
            <div class="row">
              <div class="col s10 valign-wrapper">
                <p>
                  {{ingredient.amount}}{% if ingredient.unit %}{{ingredient.unit}} of {% endif %} {{ingredient.type[0]|upper}}{{ingredient.type[1:]|lower}}
                </p>
              </div>
              <div class="col s1">
                <a id='remove_ingredient' class='btn-floating btn-small waves-effect waves-light highlight3-background'><i class='material-icons'>delete</i></a>
                <input type='hidden' name='type' value="{{ingredient.type}}"></input><input type='hidden' name='amount' value="{{ingredient.amount}}"></input><input type='hidden' name='unit' value="{{ingredient.unit}}"></input>
              </div>
            </div>
            {%endfor%}
          </div>

          <div class="row ">
            <div class="col s12">
              <label for="select_allergens">Allergens</label>
              <div class="input-field">
                <select name="allergens" id="select_allergens" multiple>
              <option value="dairy" {% if recipe.allergens and 'dairy' in recipe.allergens|lower %} selected="selected" {% endif %}>DAIRY</option>
              <option value="fish" {% if recipe.allergens and 'fish' in recipe.allergens|lower %} selected="selected" {% endif %}>FISH</option>
              <option value="gluten" {% if recipe.allergens and 'gluten' in recipe.allergens|lower %} selected="selected" {% endif %}>GLUTEN</option>
              <option value="nuts" {% if recipe.allergens and 'nuts' in recipe.allergens|lower %} selected="selected" {% endif %}>NUTS</option>
              <option value="shellfish" {% if recipe.allergens and 'shellfish' in recipe.allergens|lower %} selected="selected" {% endif %}>SHELLFISH</option>
              <option value="eggs" {% if recipe.allergens and 'eggs' in recipe.allergens|lower %} selected="selected" {% endif %}>EGGS</option>
            </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12 input-field" style="margin-top:10px">
              <label for="method">Method</label>
              <textarea name="method" class="materialize-textarea" label="method" required>{{recipe.method}}</textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s4 offset-s1 m2 offset-m3 ">
          <a href="{{url_for('index')}}" class="waves-effect waves-light btn btn-block hide-on-med-and-up highlight4-background">Home</a>
          <a href="{{url_for('index')}}" class="waves-effect waves-light btn-large btn-block hide-on-small-only highlight4-background">Home</a>
        </div>
        <div class="col s4 offset-s2 m2 offset-m2 ">
          <button class="waves-effect waves-light btn btn-block hide-on-med-and-up highlight2-background">Update</button>
          <button class="waves-effect waves-light btn-large btn-block hide-on-small-only highlight2-background">Update</button>
        </div>
      </div>
    </form>
  </div>
</section>

<!--Error modal -->
<section>
  <div id="error-modal" class="modal">
    <div class="modal-content">
      <h4>Error</h4>
      <p>Please input </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-light btn-flat background-highlight3">OK</a>
    </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
  $("#add_ingredient").on("click", function() {
    var totalIngredients = $("#ingredients").data("total_ingredients");
    totalIngredients++;
    $("#ingredients").data("total_ingredients", totalIngredients);
    var currentIngredient = $("#ingredient").val();
    var currentAmount = $("#amount").val();
    var currentUnit = $("#unit option:selected").val()
    var currentIngredients = $("#ingredients").html()
    //check if amount of ingredients has been entered - check against whether a number is input and whether string is empty
    if (isNaN(currentAmount) || currentAmount.length == 0 || currentAmount == undefined) {
      //display error modal
      $("#error-modal p").text("Please enter amount of ingredients")
      $("#error-modal").modal('open');
    }
    else if (currentIngredient.length == 0 || currentIngredient == undefined) {
      //display error modal
      $("#error-modal p").text("Please enter ingredient name")
      $("#error-modal").modal('open');
    }
    else {
      if (currentUnit === "0") { currentUnit = "" }
      $("#ingredients").html(currentIngredients + "<div class='row'><div class='col s1 valign-wrapper'><p>" + currentAmount + "</p></div><div class='col s2 valign-wrapper'><p>" + currentUnit + "</p></div><div class='col s7'><p>" + currentIngredient + "</p></div><div class='col s1'><a id='remove_ingredient' class='btn-floating btn-small waves-effect waves-light highlight3-background'><i class='material-icons'>delete</i></a></div></div><input type='hidden' name='type' value=" + currentIngredient + "></input><input type='hidden' name='amount' value=" + currentAmount + "></input><input type='hidden' name='unit' value=" + currentUnit + "></input>")
      $("#ingredient").val('');
      $("#amount").val('');
      $("#select-unit").val('none');
      $('#select-unit').formSelect();
    }
  });

  $('body').on("click", "#remove_ingredient", function() {
    $(this).parent().parent().slideUp(500);
    setTimeout(function() { $(this).parent().parent().remove(); }, 500);
  });
</script>

{% endblock %}
