{% extends 'base.html' %} {% block content %}

<!-- call to action -->
<section>
    <div class="splash-container search-splash">
        <div class="row  valign-wrapper">
            <div class="col s8 offset-s2 m6 offset-m3 ">
                <h6 class="flow-text center-align">Browse for recipes by category</h6>
            </div>
        </div>
    </div>
</section>

<!-- search -->
<section>
    <div class="row" id="category-search" style="display:none">
        <div class="col s12 m8 offset-m2">
            <ul>
                <li>
                    <div>Search Category:&nbsp<span id="search-category"></span></div>
                    <div>
                        <form action="{{url_for('display_categories')}}" id="categories" method="POST">
                            <div class="list-category input-field" id="list-element-ingredients">
                                <select name="ingredients" multiple>
                                    {%for ingredient in category_list["ingredients"] %}
                                    <option value="{{ingredient}}">{{ingredient}}</option>
                                    {%endfor%}
                                </select>
                                <label for="ingredients" data-error="Select an ingredient">Select at least one ingredient</label>
                            </div>

                            <div class="list-category input-field" id="list-element-dietary">
                                <select name="allergens" multiple>
                                    {%for allergy in category_list["allergens"] %}
                                    {%if allergy=="Meat"%}
                                    <option value="{{allergy}}">Vegetarian</option>
                                    {%else%}
                                    <option value="{{allergy}}">{{allergy}}-free</option>
                                    {%endif%}
                                    {%endfor%}
                                </select>
                                <label for="allergens" data-error="Select an allergen">Select at least one option</label>

                            </div>

                            <div class="list-category input-field" id="list-element-difficulty">
                                <select name="difficulty" multiple>
                                    <option value="hard">Hard</option>
                                    <option value="medium">Medium</option>
                                    <option value="easy">Easy</option>
                                </select>
                                <label for="difficulty" data-error="Select a difficulty level">Select at least one difficulty level</label>

                            </div>

                            <div class="list-category input-field" id="list-element-meal">
                                <select name="meal" multiple>
                                    {%for meal in category_list["meal"] %}
                                    <option value="{{meal}}">{{meal}}</option>
                                    {%endfor%}
                                </select>
                                <label for="meal" data-error="Select a meal">Select at least one type of meal</label>

                            </div>

                            <div class="list-category input-field" id="list-element-country">
                                <select name="country" multiple>
                                    {%for country in category_list["country"] %}
                                    <option value="{{country}}">{{country}}</option>
                                    {%endfor%}
                                </select>
                                <label for="country" data-error="Select a country">Select at least one country</label>

                            </div>

                            <div class="list-category input-field" id="list-element-author">
                                <select name="author" multiple>
                                    {%for author in category_list["author"] %}
                                    <option value="{{time}}">{{author}}</option>
                                    {%endfor%}
                                </select>
                                <label for="author" data-error="Select an author">Select at least one author</label>

                            </div>

                            <div class="row">
                                <div class="col s4 offset-s1 m3 offset-m2 ">
                                    <div class="modal-close waves-effect waves-light btn btn-block hide-on-large-only highlight4-background category-close">Cancel</div>
                                    <div class="waves-effect waves-light btn btn-block hide-on-med-and-down highlight4-background category-close">Cancel</div>
                                </div>
                                <div class="col s4 offset-s2 m3 offset-m2 ">
                                    <div class="waves-effect waves-light btn btn-block hide-on-large-only highlight1-background category-search">Search</div>
                                    <div class="waves-effect waves-light btn btn-block hide-on-med-and-down highlight1-background category-search">Search</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- details and information -->
<section>
    <div class="search-button-container">
        <div class="row">
            <div class="col s4 m3 valign-wrapper waves-effect waves-light search-button" id="search-ingredients">
                <p class="center-align flow-text"><strong>Ingredients</strong></p>
            </div>
            <div class="col s4 m3 valign-wrapper waves-effect waves-light search-button" id="search-dietary">
                <p class="center-align flow-text"><strong>Dietary</strong></p>
            </div>
            <div class="col s4 m3 valign-wrapper waves-effect waves-light search-button" id="search-difficulty">
                <p class="center-align flow-text"><strong>Difficulty</strong></p>
            </div>
            <div class="col s4 m3 valign-wrapper waves-effect waves-light search-button" id="search-meal">
                <p class="center-align flow-text"><strong>Meal</strong></p>
            </div>
            <div class="col m3 search-button highlight2-background hide-on-small-only">
                &nbsp
            </div>
            <div class="col s4 m3 valign-wrapper waves-effect waves-light search-button" id="search-country">
                <p class="center-align flow-text"><strong>Country</strong></p>
            </div>
            <div class="col s4 m3 valign-wrapper waves-effect waves-light search-button" id="search-author">
                <p class="center-align flow-text"><strong>Author</strong></p>
            </div>
            <div class="col m3 search-button highlight2-background hide-on-small-only">
                &nbsp
            </div>
        </div>

        <div class="row">
            <div class="col s4 offset-s4 m2 offset-m5 ">
                <a href="{{url_for('index')}}" class="waves-effect waves-light btn btn-block hide-on-large-only highlight2-background">Home</a>
                <a href="{{url_for('index')}}" class="waves-effect waves-light btn-large btn-block hide-on-med-and-down highlight2-background">Home</a>
            </div>
        </div>
    </div>

    <div class="hide-on-small-only top-margin-page-divider">
        <div class="row">
            <div class="col m10 offset-m1">
                <div class="col center-align m3">
                    <div class="left-align page-divider highlight3-background"></div>
                </div>
                <div class="col center-align m3">
                    <div class="center-align page-divider highlight1-background"></div>
                </div>
                <div class="col center-align m3">
                    <div class=" center-align page-divider highlight2-background"></div>
                </div>
                <div class="col center-align m3">
                    <div class="center-align page-divider highlight4-background"></div>
                </div>
            </div>
        </div>
    </div>

</section>

<!--Error modal -->
<section>
    <div id="error-modal" class="modal">
        <div class="modal-content">
            <h4>Error</h4>
            <p>Please select at least one item in the category</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-light btn-flat background-highlight3">OK</a>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(".category-search").on("click", function() {
        var inputValid = false;
        $("form select").each(function() {
            if ($(this).val().length > 0) {
                inputValid = true;
                return false;
            }
        })
        if (inputValid == false) {
            $("#error-modal").modal('open');
        }
        else {
            $("#categories").submit();
        }
    })

    $(".category-close").on("click", function() {
        $("#category-search").slideUp();
        $("#category-search").removeAttr("data");
        $(".search-button").removeClass("search-button-clicked");
    })


    $(".search-button").on("click", function() {
        var category = $(this).children("p").text();
        var categorySearchPane = $("#category-search");
        var listElement = "#list-element-" + category.toLowerCase();
        var previousCategory = $(categorySearchPane).attr("data");
        $(".list-category").hide();
        //reset the form to ensure only one category is returned to display_category when submitting 
        $('#categories')[0].reset();
        if ($(categorySearchPane).attr("data")) {
            if (previousCategory != category) {
                $(categorySearchPane).attr("data", category);
                $(listElement).show();
                $("#search-category").text(category);
                $(this).addClass("search-button-clicked");
                $("#search-" + previousCategory.toLowerCase()).removeClass("search-button-clicked");
            }
            else {
                $(categorySearchPane).slideUp();
                $(categorySearchPane).removeAttr("data");
                $(this).removeClass("search-button-clicked");
            }
        }
        else {
            $(categorySearchPane).slideDown();
            $(categorySearchPane).attr("data", category);
            $(listElement).show();
            $("#search-category").text(category)
            $(this).addClass("search-button-clicked");
        }
    })
</script>

{% endblock %}
